.ripple-grid-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.ripple-grid-layer {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.6;
}
